<h1><%= @teacher.name %></h1>
<p>Works at <%= @teacher.school.name %></p>
<p>Years at <%= @teacher.school.name %>: <%= @teacher.years_at_school %></p>
<p>Bilingual? <%= @teacher.bilingual %></p>
<p>Created at <%= @teacher.created_at %></p>
<p>Updated at <%= @teacher.updated_at %></p>
<br>
<br>
<h3><a href="/teachers/<%= @teacher.id %>/edit">Update Teacher</a></h3>
<h3><%= link_to "Delete Teacher", "/teachers/#{@teacher.id}", method: :delete %></h3>
