<a href="/schools">All Schools</a>

<h1><%= @schools.name %></h1>
<p>Year they opened: <%= @schools.open_year %></p>
<p>Are they fully staffed? <%= @schools.fully_staffed %></p>
<p>Number of teachers: <%= @count %></p>
<p>Created at <%= @schools.created_at %></p>
<p>Updated at <%= @schools.updated_at %></p>