<h1><a href="/schools/<%= @school.id %>/teachers"><%= @school.name %></a></h1>
<p>Year they opened: <%= @school.open_year %></p>
<p>Are they fully staffed? <%= @school.fully_staffed %></p>
<p>Number of teachers: <%= @count %></p>
<p>Created at <%= @school.created_at %></p>
<p>Updated at <%= @school.updated_at %></p>
<h3><a href="/schools/<%= @school.id %>/edit">Update School</a></h3>
<h3><%= link_to "Delete School", "/schools/#{@school.id}", method: :delete %></h3>