<h1><%= @school.name %> Teachers</h1>
<%@teachers.each do |teacher|%>
  <h3><%= teacher.name %></h3>
  <p>Years at <%= teacher.school.name %>: <%= teacher.years_at_school %></p>
  <p>Bilingual? <%= teacher.bilingual %></p>
  <p>Created at <%= teacher.created_at %></p>
  <p>Updated at <%= teacher.updated_at %></p>
  <p><%= link_to "Delete #{teacher.name}", "/teachers/#{teacher.id}", method: :delete %><p>
<% end %>
<br>
<br>
<h3><a href="/schools/<%= @school.id %>/teachers/new">Create Teacher</a></h3>
<h3><a href="/schools/<%= @school.id %>/teachers?sort=alpha">Sort Teachers Alphabetically</a></h3>
<br>
<br>
<%= form_with url: "/schools/#{@school.id}/teachers", method: :get, local: true do |form| %>
  <%= form.label :years, "Only return records with more than" %>
  <%= form.number_field :years, within: 0...50, value: 0 %>
  <%= form.label :years, "years at the school" %>
  <%= form.submit "Submit" %>
<% end %>
